.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gridWrapper {
    display: grid;
    justify-content: center;
    margin: 20px 20px 20px 20px;
}

.grid {
    display: grid;
    border: 1px solid white;
    justify-content: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(50, auto);
    justify-content: start;
    align-content: start;
    align-items: start;
    justify-items: start;
}

.cell {
    height: 13px;
    width: 13px;
    border: 1px solid black;
}

.alive-true {
    background-color: rgb(255, 136, 0);
}

.alive-false {
    background-color: #333;
}

.alive-true-old {
  background-color: rgb(255, 0, 0);
}
.alive-true-mature {
    background-color: rgb(255, 0, 0);
}
